.footer {
  height: 20.125rem;
  background-color: #1d1d1e;
  display: flex;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  position: absolute;
  left: 0;
  padding: 3.2rem 6rem;
  width: 100%;
}
